{% extends 'store/frontend/main.html' %}
{% load static %}

{% block content %}

<div class="col-lg-10" style="margin: auto"> 
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>ABOUT US</strong></h6>
            <hr>
            <p>Take a look in your browser, at “/polls/34/”. It’ll run the detail() method and display whatever ID
                you provide in the URL. Try “/polls/34/results/” and “/polls/34/vote/” too – these will display the
                placeholder results and voting pages. When somebody requests a page from your website – say, “/polls
                /34/”, Django will load the mysite.urls Python module because it’s pointed to by the ROOT_URLCONF 
                setting. It finds the variable named urlpatterns and traverses the patterns in order. After finding 
                the match at 'polls/', it strips off the matching text ("polls/") and sends the remaining text – 
                "34/" – to the ‘polls.urls’ URLconf for further processing. There it matches '<int:question_id>/',
                resulting in a call to the detail() view like so
            </p>
        </div>
</div>

{% endblock %}