{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		
		{% for product in products %}
		<div class="col-lg-4 col-sm-6 col-md-6">
			
			<img class="thumbnail" src="{{ product.imageURL }}" style="width: 100%">  
			<div class="box-element product">
				<h6><strong>{{ product.name }}</strong></h6>
				<hr>
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success btn-sm add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-danger btn-sm" href="{% url 'item_detail' product.id %}">Details</a>
				<h6 style="float:right">${{ product.price|floatformat:2 }}</h6>
			</div>
		</div>
		{% endfor %}
		
	</div>

{% endblock content %}