{% extends 'store/backend/dashboard.html' %}
{% load static %}

{% block content %}

<div class="alert alert-primary" style="text-align: center;">
    Order History
</div>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Date</th>
            <th>Total</th>
            <th>Image</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>

        {% if items %}
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.product.price|floatformat:2 }}</td>
            <td>{{ item.date_added }}</td>
            <td>${{ item.get_totalPrice|floatformat:2 }}</td>
            <td><img src="{{ item.product.imageURL }}" alt="product_image" class="img-thumbnail"
                    style="height:80px; width:120px;"></td> 
            {% for i in item.order.shippingaddress_set.all %}               
            <td>{{i.delivery_status}}</td> 
            {% endfor %}       
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}

    </tbody>
</table>

{% endblock  %}